.landing-container {
    display: grid;
    gap: 48px;
    padding: 24px 120px;
}

.hero-section {
    display: grid;
    gap: 48px;
    text-align: center;
    margin-top: 48px;

    .tagline {
        display: grid;
        gap: 24px;

        h1 {
            font-size: 90px;
            font-weight: 600;
        }

        .hero-btn-container {
            display: flex;
            gap: 6px;
            justify-self: center;

            button {
                font-size: 16px;
                padding: 18px 48px;
            }
        }
    }
    .hero-img {
        img {
            width: 550px;
        }
    }
}

.target-audience {
    padding: 12px 0;
    line-height: 72px;

    .img-container {
        background-color: #e30101;
        margin-top: 90px;
        height: 70vh; border-radius: 36px;
    }
}

.features {
    section {
        display: flex;
        align-items: center;
        gap: 60px;
        line-height: 60px;
        margin-bottom: 60px;

        img {
            width: 450px;
        }
        .tagline {
        }
    }
}

.highlights {
    display: grid;
    gap: 12px;
    
    .backdrop {
        height: 300px;
        border-radius: 24px;
        background-color: #121212;
    }
    
    .benito {
        display: flex;
        gap: 12px;
        
        .card {
            width: 100%;
            height: 300px;
            border-radius: 24px;
            background-color: #121212;
        } .card2 {
            width: 60%;
        }
    }
}

.footer {
    background-color: #121212;
    width: 100%;
    height: 70vh;
    margin-top: 20vh;
}