.landing-navbar-container {
    padding: 24px 80px;
}

.navbar, .landing-ul {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    gap: 48px;
} a {
    text-decoration: none;
    color: #121212;
    font-weight: 600;
}

img {
    width: 100px;
}