button {
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    padding: 14px 48px;
    border-radius: 50px;
}

.primary {
    background-color: #112121;
    color: #ffffff;
}
.secondary {
    background-color: #e30101;
    color: #ffffff;
}
.outline {
    background-color: #ffff;
    color: #121212;
}