.sidebar {
  width: 250px;
  padding: 20px 5px;

  nav {
    display: grid;
    gap: 24px;
  }

  .logo-side {
    text-align: center;
    img {
      width: 130px;
    }
  }

  ul .side {
    list-style: none;
    padding: 0; margin: 0;
  }
  
  .side-li {
    margin-bottom: 10px;
    
    a {
      color: #121212;
      padding: 16px 6px;
      display: block;
      border-radius: 6px;
      text-decoration: none;
      font-weight: 600;
      transition: background-color 00.2s ease-in-out;
    }
    a:hover {
      background-color: #f9f9f9;
    }

  }
}
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;

  h1 {
    margin-top: 0;
    font-size: 30px;
  }
}

.sidebar a.active {
  background-color: #555;
  color: #fff;
  font-weight: bold;
}