@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0; margin: 0;
  font-family: montserrat;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.home-container {
  display: grid;
  gap: 24px;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 6px;
}


/* Overview Section */
.greet-user {
  h1 {
    font-weight: 500;
    font-size: 40px;
  }
}

/* Wallet Balance */
.banner {
  color: #fff;
  border-radius: 16px;
  padding: 36px 48px;
  background: linear-gradient(to right, #e30101, #9c0303);

  .banner-content {
    display: grid;
    gap: 48px;

    .wallet {
      display: grid;
      gap: 24px;

      h1 {
        font-weight: 600;
        font-size: 48px;
      }
      .wallet-balance {
        display: grid;
        gap: 12px;
      }
      .btn-actions {
        display: flex;
        gap: 12px;
      }
    }
  }
}

/* Actions */
.actions {
  display: grid;
  gap: 18px;

  h2 {
    font-weight: 700;
    font-size: 20px;
    color: #121212;
  }

  .actions-container {
    display: flex;
    padding: 48px;
    border-radius: 16px;
    background-color: #faeaea;
    
      .headline {
        display: grid;
        gap: 12px;
      
        h1 {
          font-size: 36px;
          font-weight: 500;
        } p {
          font-size: 18px;
        }
      }
      
      .actions-img {
        img {
          position: absolute;
          right: 10%; top: 50%;
          width: 220px;
        }
      }
  }
}

/* DM to Credit */
.credit {
  border-radius: 24px;
}

.chat-dm-container {
  margin: 40px auto;
  padding: 20px;
}


.chat-container {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 100%;
}

.chat-intro {
  height: 75vh;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: 500;
  } p {
    color: #b4b4b4;
  }
}

.chat-body {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #f8f6f6;
}

.message {
  margin-bottom: 20px;
  padding: 12px 26px;
  display: inline-block;
  max-width: 80%;
  font-size: 18px;
  border-radius: 10px;

  .message-time {
    margin-top: 6px;
    font-size: 12px;
    color: #cccccc;
  }
}

.user-message {
  color: #fff;
  float: right;
  clear: both;
  text-align: right;
  background-color: #121212;
}

.ai-message {
  color: #121212;
  float: left;
  clear: both;
  font-weight: 500;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #f3f2f2;
}

.chat-input-container {
  display: flex;
  gap: 8px;
  padding: 10px 24px;
  clear: both;
  align-items: center;
  align-self: center;
}

.chat-input-container input[type="text"] {
  flex-grow: 1;
  padding: 16px 32px;
  border: none;
  color: #fff;
  border-radius: 50px;
  background-color: #121212;
}
